<app-loading *ngIf="loading" class="m-5"></app-loading>

<!-- <div class="card-columns">
    <div *ngFor="let cancion of nuevasCanciones" class="card">
        <img [src]="cancion.images | noimage" class="card-img-top" alt="card image">
        <div class="card-body">
            <h5 class="card-title">{{cancion.name}}</h5>
            <p *ngFor="let artista of cancion.artists" class="card-text">{{ artista.name }}</p>
        </div>
    </div>
</div> -->

<app-tarjetas [items]="nuevasCanciones"></app-tarjetas>