<div class="row">
    <div class="col">
        <input #termino type="text" (keyup)="buscar(termino.value)" class="form-control" placeholder="Buscar canción...">
    </div>
</div>

<app-loading *ngIf="loading" class="m-5"></app-loading>

<!-- <div class="card-columns m-5">
    <div *ngFor="let artista of artistas" class="card">
        <img [src]="artista.images | noimage" class="card-img-top" alt="card image">
        <div class="card-body">
            <h5 class="card-title">{{artista.name}}</h5>
        </div>
    </div>
</div> -->

<app-tarjetas [items]="artistas"></app-tarjetas>