<div class="card-columns m-5 animated fadeIn">
    <div (click)="verArtista(item)" *ngFor="let item of items" class="card puntero">
        <img [src]="item.images | noimage" class="card-img-top" alt="card image">
        <div class="card-body">
            <h5 class="card-title">{{item.name}}</h5>
            <p *ngFor="let artista of item.artists" class="card-text">{{ artista.name }}</p>
        </div>
    </div>
</div>